$grid-size: 94px;
$grid-margin: 2px;
$grid-font-1: 60px;
$grid-font-2: 60px;
$grid-font-3: 50px;
$grid-font-4: 40px;
$grid-font-5: 30px;
$grid-font-6: 40px;
$tout: 100ms;
$color-black: rgb(53, 53, 53);
$color-white: rgb(224, 224, 224);
$color-bg: #faf8ef;

body,
html {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    background: $color-bg;
    font-family: sans-serif;
    color: $color-black;
    overscroll-behavior: none;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

div:focus,
div:active,
button:focus,
button:active,
a:focus,
a:active {
    outline: none;
}

* {
    box-sizing: border-box;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;
    color: inherit;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    z-index: 10000000;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;

    button {
        font-weight: bold;
        margin-right: 10px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    display: none;
    span {
        width: 40px;
        height: 5px;
        background: $color-black;
        transition: all 300ms ease-in-out;
    }
}

.menu-buttons-menu {
    display: flex;
    align-items: center;
}

.menu-burger-cross {
    span:first-child {
        transform: translate(3px, 12.5px) rotate(45deg);
    }
    span:nth-child(2) {
        transform: translate(-1000px);
    }
    span:last-child {
        transform: translate(3px, -12.5px) rotate(-45deg);
    }
}

.menu-return {
    display: none;
    line-height: 0;
    height: 30px;
}

.menu-undo {
    display: none;
}

.menu-new h2 {
    text-align: center;
}

.menu-main,
.menu-continue,
.menu-new,
.menu-rules,
.menu-best {
    padding-top: 80px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 9999;
    background: rgba(#e9e3dc, 0.96);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    padding-bottom: 50px;
}

.menu h1 {
    font-size: 65px;
    display: flex;
    background: #bdad9e;
    border-radius: 5px;
    padding: 4px;
    height: 86px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: linear $tout;
        font-weight: bold;
        border-radius: 4px;
        width: 70px;
        height: 70px;
        margin: 4px;
    }
    span:nth-child(1) {
        background: #eee4da;
    }
    span:nth-child(2) {
        background: #dbd2c9;
    }
    span:nth-child(3) {
        background: #ede0c8;
    }
    span:nth-child(4) {
        background: #f2b179;
    }
}

.menu-new {
    display: none;
}

.menu-new-alert {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba($color-bg, 0.95);
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 1000000;
    color: $color-white;
    font-size: 30px;
}

.menu-new-alert div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5f564d;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    padding: 0;

    span {
        content: "x";
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
}

.menu-new h2 {
    width: 200px;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.menu li {
    font-size: 24px;
    font-weight: bold;
    width: 280px;
    line-height: 50px;
    list-style: none;
    cursor: pointer;
    background: #cebdae;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    transition: 300ms ease-in-out;

    &:hover,
    &.selected {
        background: #5f564d;
        color: $color-white;
        font-size: 1.5em;

        & input {
            background: #72685d;
        }
    }
}

.menu-new {
    padding-bottom: 100px;
}

.menu-new li {
    font-size: 20px;
}

.menu-new input {
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    display: inline-block;
    text-align: center;
    width: 50px;
}

.menu-new input {
    border: none;
    background: #e9d9c9;
}

.menu-new p {
    line-height: 0.1;
}

#menu-new-ok {
    background: #817468;
    color: $color-white;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    transition: 500ms ease-in-out;
    &:hover {
        background: #5f564d;
        transform: scale(1.05);
    }
}

.menu-best-warning {
    display: none;
}

.menu-best-container {
    max-height: 800px;
    overflow-y: scroll;
    width: 300px;
    border: 4px solid #cabcae;
}

.menu-best {
    justify-content: flex-start;
}

.menu-best table {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 18px;
    border-collapse: collapse;
    border-radius: 1px;
    overflow: hidden;

    td,
    th {
        width: 150px;
        height: 40px;
        padding: 5px;
        border: 2px solid #cabcae;
    }
}

.menu-rules {
    text-align: center;
    font-weight: bold;
}

.menu-rules img {
    width: 60px;
    height: 80px;
}

.menu-rules-row {
    height: 80px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-rules .key-arrows {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div:last-child {
        display: flex;
    }
}

.menu-rules .key {
    margin: 0.5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1.5px solid $color-black;
    width: 25px;
    height: 25px;
}

.menu-rules .icons {
    font-weight: normal;
    font-size: 6px;
    position: absolute;
    bottom: 10px;
}

.menu-active {
    display: flex;
}

.header {
    width: 100%;
    margin: 20px;
    margin-bottom: 60px;
}

.header-score {
    display: flex;
    justify-content: flex-end;
    height: 75px;
    line-height: 0.7;
}

.header-score div {
    background: #cdc1b5;
    width: 100px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.game-over {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    background: rgba(#66523f, 0.9);
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-over h2 {
    font-size: 40px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 200px);
}

.grid-game {
    background: #bdad9e;
    margin: auto;
    display: inline-block;
    padding: $grid-margin * 2;
    position: relative;
    border-radius: 5px;
    transform-origin: top center;
}

.grid-row {
    display: flex;
}

.grid {
    background: #cdc1b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: linear $tout;
    font-weight: bold;
    border-radius: 4px;
}

.box-buble {
    transform: scale(1.2);
}

.grid {
    height: $grid-size;
    width: $grid-size;
    margin: $grid-margin;
}

.box {
    height: $grid-size;
    width: $grid-size;
}

@for $i from 0 through 15 {
    @for $j from 0 through 15 {
        .box-#{$i}-#{$j} {
            top: 3 * $grid-margin + $i * ($grid-size + 2 * $grid-margin);
            left: 3 * $grid-margin + $j * ($grid-size + 2 * $grid-margin);
        }
    }
}

@function pow($base, $exponents) {
    $raised: 1;
    @for $i from 1 through $exponents {
        $raised: $raised * $base;
    }
    @return $raised;
}

.box-2 {
    background: #eee4da;
    font-size: $grid-font-1;
}

.box-4 {
    background: #ede0c8;
    font-size: $grid-font-1;
}

.box-8 {
    background: #f2b179;
    color: white;
    font-size: $grid-font-1;
}

.box-16 {
    background: #ee8952;
    color: white;
    font-size: $grid-font-2;
}

.box-32 {
    background: rgb(233, 93, 37);
    color: white;
    font-size: $grid-font-2;
}

.box-64 {
    background: rgb(240, 33, 33);
    color: white;
    font-size: $grid-font-2;
}

.box-128 {
    background: rgb(212, 53, 79);
    color: white;
    font-size: $grid-font-3;
}

.box-256 {
    background: rgb(221, 75, 148);
    color: white;
    font-size: $grid-font-3;
}

.box-512 {
    background: rgb(240, 33, 171);
    color: white;
    font-size: $grid-font-3;
}

.box-1024 {
    background: rgb(223, 33, 240);
    color: white;
    font-size: $grid-font-4;
}

.box-2048 {
    background: rgb(164, 33, 240);
    color: white;
    font-size: $grid-font-4;
}

.box-4096 {
    background: rgb(105, 33, 240);
    color: white;
    font-size: $grid-font-4;
}

.box-8192 {
    background: rgb(24, 184, 176);
    color: white;
    font-size: $grid-font-4;
}

.box-16384 {
    background: rgb(31, 163, 48);
    color: white;
    font-size: $grid-font-5;
}

.box-32768 {
    background: rgb(33, 104, 12);
    color: white;
    font-size: $grid-font-5;
}

.box-65536 {
    background: rgb(7, 68, 10);
    color: white;
    font-size: $grid-font-5;
}

.box-131072 {
    background: $color-black;
    color: white;
    font-size: $grid-font-6;
}
